BasedOnStyle: Google

ColumnLimit: 100

IndentWidth: 4

AccessModifierOffset: -4

NamespaceIndentation: All

# AllowShortBlocksOnASingleLine: Empty
# AllowShortFunctionsOnASingleLine: Empty

# BreakBeforeBraces: Custom
# BraceWrapping:
#     AfterFunction: true

DerivePointerAlignment: false
PointerAlignment: Left

IndentCaseLabels: false
